*{
    box-sizing: border-box;
}

.container{
    width: 1100px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    gap: 8px;
    width: 90%;
}